.fa-checkbox:before {
  content: "\2610";
}

.fa-checkbox-checked:before {
  content: "\2611";
}

.icon:before {
  font: normal normal normal 14px/1 Arial,Verdana,Helvetica;
}

body {
  font-family: Arial,Verdana,Helvetica;
  font-size: 11px;
}

td {
  font-family: Arial,Verdana,Helvetica;
  font-size: 11px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 16px;
}

.contactInfo {
  font-size: 9px;
}
