<template name="InsertProcDesc">
  <div class="insert-proc-desc">

    {{#autoForm collection="ProcDescs" doc=this id="insertProcDescForm" type="insert"}}
      <fieldset>
        <legend>Neue Verfahrensbeschreibung erstellen</legend>
        <img src="/images/lrzLogo.png" alt="LRZ logo">
        <h3>Verfahrensbeschreibung für den Dienst {{> afQuickField name="content.serviceShortTitle" style="color: #FF0000" label-style="display: none"}}</h3>
        <p>Art. 27 des Bayerischen Datenschutzgesetzes (BayDSG) bestimmt, dass die behördlichen
          Datenschutzbeauftragten ein Verzeichnis der bei der öffentlichen Stelle eingesetzten und
          datenschutzrechtlichen freigegebenen automatisierten Verfahren, mit denen personenbezogene Daten
          verarbeitet werden, zu führen haben (Verfahrensverzeichnis). Dieses Formular dient gemäß Art. 26
          Abs. 3 Satz 1 BayDSG sowohl der erforderlichen Verfahrensbeschreibung als auch der
          erforderlichen allgemeinen Beschreibung der Art der für das Verfahren eingesetzten
          Datenverarbeitungsanlagen und der technischen und organisatorischen Maßnahmen nach Art. 7 und
          Art. 8. Ferner weisen wir darauf hin, dass evtl. vor Einsatz des Verfahrens der zuständige Personalrat
          durch die Dienststelle nach Art. 75 a bzw. Art. 76 Abs. 2 Nr. 1 und Nr. 2 BayPVG beteiligt werden
          muss.</p>
        <p>Zum Aufbau:</p>
        <p>
          <ul>
            <li>Die Abschnitte A.1 und A.2 enthalten interne Informationen für den
              Datenschutzbeauftragten. Sie werden nicht veröffentlicht.</li>
            <li>Die Abschnitte B.1 bis B.8 umfassen die erforderlichen Angaben gemäß Art. 26 Abs. 2
              BayDSG und stellen die von jedem einsehbare Verfahrensbeschreibung dar.</li>
            <li>Die Abschnitte C.1 bis C.3 umfassen Angaben zu technischen und organisatorischen
              Maßnahmen gemäß Art. 7 und 8 BayDSG; sie ergänzen die Verfahrensbeschreibung und
              werden für die Erteilung der datenschutzrechtlichen Freigabe durch den
              Datenschutzbeauftragten benötigt. Sie werden nicht veröffentlicht.</li>
          </ul>
        </p>
        <p>Zum Ausfüllen des Formulars sind <red>alle Angaben in roter Schrift</red> dem jeweiligen Verfahren
          anzupassen.</p>

        <h4>A.1 Gegenstand</h4>
        <p>Diese Beschreibung dient</p>
        {{> afQuickField name="content.documentPurpose1"}}
        {{> afQuickField name="content.documentPurpose2"}} {{> afQuickField name="content.documentPurposeOriginalDate" label-style="display: none" type="bootstrap-datepicker"}}
        {{> afQuickField name="content.documentPurpose3"}}

        <h4>A.2 Autor bzw. Hauptansprechpartner für den Datenschutzbeauftragten</h4>
        <p>Die Beschreibung wurde von {{currentUser.profile.lastName}}, {{currentUser.profile.firstName}} am Datum
          {{currentDate}}<!--{{> afQuickField name='creatorName' style="color: #FF0000" label-style="display: none"}} {{> afQuickField name='creatorSurname' style="color: #FF0000" label-style="display: none"}}--> am <!--{{> afQuickField name="creationDate" style="color: #FF0000" label-style="display: none" type="bootstrap-datepicker"}}--> erstellt.</p>

        <h4>B.1 Bezeichnung des Verfahrens</h4>
        <table class="table">
          <tbody>
            <tr>
              <td>Bezeichnung des Verfahrens:</td>
              <td>{{> afQuickField name="content.serviceName" style="width: 400px; color: #FF0000" label-style="display: none"}}</td>
            </tr>
            <tr>
              <td>Dienstbeschreibung unter:</td>
              <td>{{> afQuickField name="content.serviceDescLoc" style="width: 400px; color: #FF0000" rows=3 label-style="display: none"}}</td>
            </tr>
            <tr>
              <td>Nähere Auskünfte erteilt:</td>
              <td><p>Service-Desk des Leibniz-Rechenzentrums</p><p>https://servicedesk.lrz.de</p></td>
            </tr>

          </tbody>
        </table>

        <h4>B.2 Zweck und Rechtsgundlagen der Erhebung, Verarbeitung oder Nutzung</h4>
        <p>Personenbezogene Daten werden zur Erfüllung der folgenden Aufgaben erhoben, verarbeitet oder
          genutzt:</p>
        {{> afQuickField name="content.purpose" style="width: 100%; color: #FF0000" rows=4 label-style="display: none"}}

        <h4>B.3 Art der gespeicherten Daten</h4>
        <p>Im Folgenden sind alle Arten von personenbezogenen Daten mit ihrem individuellen
          Verwendungszweck aufgeführt, die von diesem Verfahren erhoben, gespeichert oder genutzt werden:</p>
        {{> afQuickField name="content.typeOfStoredData" rows=4 label-style="display: none" style="width: 80%; color: #FF0000"}}

        <h4>B.4 Kreis der Betroffenen</h4>
        <p>Von dem Verfahren sind alle LRZ-Benutzer betroffen, die eine LRZ-Kennung it Berechtigung für
          den Dienst {{> afQuickField name="content.circleAffected" label-style="display: none" style="color: #FF0000"}} haben.</p>
        <h4>B.5 Art der regelmäßig zu übermittelnden Daten und deren Empfänger</h4>
        {{> afQuickField name="content.typeOfTransmittedData" label-style="display: none" style="width: 100%; color: FF0000"}}
        <h4>B.6 Regelfristen für die Löschung der Daten oder die Prüfung der Löschung</h4>
        {{> afQuickField name="content.deletionDeadline1"}}
        {{> afQuickField name="content.deletionDeadline2"}}
        {{> afQuickField name="content.deletionDeadline3"}}
        {{> afQuickField name="content.deletionDeadlineSonstige" initialCount=0}}
        <h4>B.7 Verarbeitungs- und nutzungsberechtigte Personengruppen</h4>
        {{> afQuickField name="content.permittedUserGroup1"}}
        {{> afQuickField name="content.permittedUserGroup2"}}
        {{> afQuickField name="content.permittedUserGroup3"}}
        {{> afQuickField name="content.permittedUserGroup4"}}
        {{> afQuickField name="content.permittedUserGroupSonstige" initialCount=0}}

        <h4>B.8 Ergänzende Hinweise</h4>
        <ul>
          <li>Die Erbringung des Dienstes erfolgt durch das LRZ. Es findet somit keine
            Auftragsdatenverarbeitung statt, an denen Dritte gemäß Art. 6 Abs. 1 bis 3 BayDSG als
            Auftragnehmer beteiligt sind.</li>
          <li>Es werden keine personenbezogenen Daten regelmäßig an Empfänger in Drittlöndern
            übermittelt.</li>
        </ul>

        <h4>C.1 Eingesetzte Datenverarbeitungsanlagen und Programme</h4>
        <table class="table">
          <tbody>
            <tr>
              <td>Bezeichnung und Standort der Anlage:</td>
              <td>{{> afQuickField name="content.titleAndLocationOfSystem" style="width: 400px; color: #FF0000" label-style="display: none"}}</td>
            </tr>
            <tr>
              <td>Eingesetztes Betriebssystem:</td>
              <td>{{> afQuickField name="content.operatingSystem" style="width: 400px; color: #FF0000" rows=3 label-style="display: none"}}</td>
            </tr>
            <tr>
              <td>Eingesetzte Software:</td>
              <td>{{> afQuickField name="content.usedSoftware" style="width: 400px; color: #FF0000" rows=3 label-style="display: none"}}</td>
            </tr>

          </tbody>
        </table>

        <h4>C.2 Maßnahmen zur Sicherstellung der Verfügbarkeit der Daten</h4>
        <p>Zur Sicherstellung der Verfügbarkeit der Daten werden die folgenden Maßnahmen ergriffen:</p>
        <p>{{> afQuickField name="content.measuresForAvailability" rows=4 style="width: 100%; color: #FF0000" label-style="display: none"}}</p>

        <h4>C.3 Weitere Maßnahmen nach Art. 7 und 8 BayDSG</h4>
        <p>Es werden die folgenden weiteren technischen und organisatorischen Maßnahmen ergriffen:</p>
        <p>{{> afQuickField name="content.measuresBayDSG" rows=8 style="width: 100%; color: #FF0000" label-style="display: none"}}</p>
      </fieldset>
    <button type="submit" class="btn btn-primary">Speichern</button> &#160;<button type="button" class="btn btn-default cancel">Abbrechen</button>
    {{/autoForm}}

  </div>
</template>
