<template name="Home">
  <div class="home">
    <img src="/images/lrzLogo.png" alt="LRZ Logo">
    <h1>Verfahrensbeschreibungen Manager</h1>
    <p>
      Diese Applikation ermöglicht es schnell und einfach Verfahrensbeschreibungen, sicher authentifiziert durch den Datenschutzbeauftragten und andere Mitarbeiter:
      <ul>
        <li>zu erstellen</li>
        <li>zu bearbeiten</li>
        <li>zu löschen</li>
        <li>zu signieren und damit freizugeben</li>
        <li>mit Zeitstempeln zu versehen</li>
        <li>zu suchen, sortieren und verwalten</li>
        <li>zu exportieren</li>
        <li>(zu archivieren)</li>
        <li>(in einem Workflow zu behandeln)</li>
      </ul>
    </p>

    <p>Die Führung und Verwaltung von Verfahrensbeschreibungen und des zugehörigen Verfahrensverzeichnis werden laut dem Bayerischen Datenschutzgesetzes (BayDSG)
      verlangt und sind konkret in Artikel <a href="http://gesetze-bayern.de/Content/Document/BayDSG-26" target="_blank"><b>26</b></a> und
      <a href="http://gesetze-bayern.de/Content/Document/BayDSG-27" target="_blank"><b>27</b></a> definiert.</p>

    {{#unless currentUser}}
      <p>Um die Funktionalitäten dieses Tools zu verwenden, müssen Sie sich mit Ihrem LRZ Active Directory Benutzer anmelden.</p>
    {{/unless}}
  </div>
</template>
