<template name="Home">
  <div class="home">
    <img src="/images/lrzLogo.png" alt="LRZ Logo">
    <h1>Verfahrensbeschreibungen Manager</h1>
    <p>
      Diese Applikation ermöglicht es schnell und einfach Verfahrensbeschreibungen durch den Datenschutzbeauftragten und andere Mitarbeiter:
      <ul>
        <li>zu erstellen</li>
        <li>zu bearbeiten</li>
        <li>qualifiziert zu signieren</li>
        <li>(zu archivieren)</li>
        <li>(zu sortieren und verwalten)</li>
        <li>(in einem Workflow zu behandeln)</li>
      </ul>
    </p>
    {{#if currentUser}}
      <h3>Zeitstempel Antwort von http://zeitstempel.dfn.de für den Root Hash des Merkle Baums:</h3>
      <div class="ownblock"><pre>{{getSigReq}}</pre></div>
      <h3>Merkle Baum aller gespeicherten Versionen im System:</h3>
      <div class="ownblock">
        {{createMerkle}}
      </div>
    {{else}}
      <p>Um die Funktionalitäten dieses Tools zu verwenden, müssen Sie sich anmelden.</p>
    {{/if}}
  </div>
</template>
