<template name="Home">
  <div class="home">
    <img src="/images/lrzLogo.png" alt="LRZ Logo">
    <h1>Verfahrensbeschreibungen Manager</h1>
    <p>
      Diese Applikation ermöglicht es schnell und einfach Verfahrensbeschreibungen durch den Datenschutzbeauftragten und andere Mitarbeiter:
      <ul>
        <li>zu erstellen</li>
        <li>zu bearbeiten</li>
        <li>(qualifiziert zu signieren und archivieren)</li>
        <li>(sortieren und verwalten)</li>
        <li>(in einem Workflow zu behandeln)</li>
      </ul>
    </p>
    <p>Um die Funktionalitäten dieses Tools zu verwenden, müssen Sie sich anmelden.</p>
    {{#if currentUser}}
      <h3>Timestamp Response from http://zeitstempel.dfn.de for string 'test':</h3>
      <div class="ownblock"><pre>{{getSigReq}}</pre></div>
    {{/if}}
  </div>
</template>
