<template name="ViewProcDescVersion">
  <div class="view_proc_desc_version">
    <p>
      ID: {{getId}} - Erstellt: {{longDateFormatted modifiedAt}}
      {{#if isInRole 'datenschutzBeauftragter'}}
       - Bearbeiter: {{modifierName}}
      {{/if}}
       - Version: {{_version}}
      {{#if content.approved}}
       - Freigegeben: <i class="fa fa-check"></i>
      {{/if}}
    </p>
    <p><button type="button" class="btn btn-default return">Editieren</button> &#160;<button type="button" class="btn btn-default pdf">PDF</button> &#160;<button type="button" class="btn btn-default xml">XML</button>&#160;
      {{#if isInRole 'datenschutzBeauftragter'}}
        {{#if isWorkingCopy}}
          <button type="button" class="btn btn-default approve">Freigeben</button>&#160;
        {{/if}}
      {{/if}}
      {{#if content.approved}}
        <button type="button" class="btn btn-default load-signature">Signatur Laden</button>&#160;
        <button type="button" class="btn btn-default load-archive">Archiv laden</button>
      {{/if}}
    </p>
    <p>
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAWkAAABGCAIAAAH2k8LYAAAAGXRFWHRTb2Z0d2Fy
ZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAA
AAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5U
Y3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6
eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8w
Mi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRw
Oi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpE
ZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRv
YmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNv
bS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20v
eGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRv
YmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9Inht
cC5paWQ6MUNGNTkyMTVBODZCMTFFNDg1MjVCQTc4MjgzNUYxMzkiIHhtcE1NOkRv
Y3VtZW50SUQ9InhtcC5kaWQ6MUNGNTkyMTZBODZCMTFFNDg1MjVCQTc4MjgzNUYx
MzkiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlp
ZDoxQ0Y1OTIxM0E4NkIxMUU0ODUyNUJBNzgyODM1RjEzOSIgc3RSZWY6ZG9jdW1l
bnRJRD0ieG1wLmRpZDoxQ0Y1OTIxNEE4NkIxMUU0ODUyNUJBNzgyODM1RjEzOSIv
PiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94
cGFja2V0IGVuZD0iciI/Puc6Z0wAADpHSURBVHjaYsxZc48BB5gcrMhAR8DEMGjA
qFNwOYWfg7nBQ5ZsI9zc3D08POHckJAQ/Or19PSB5N+/f3GGyr+////++w9hABGy
op8/f/769QvC/vLlC1z82bPn6uoaQMaOHdtBGv/9g4hfu3YtNjYOqOvQocP29g7O
zs6FRcVArqmp2datW///BxnOzMyMbMXdu/cYgDmoesvDN19+/wcDIDd95V0I4z99
AUpayV17H0jOCFNKXX4XLujg4AiVzc2FBMmNGzc+fPg4Y8bMbdu2A8MZGGBBQcFA
8XPnzjs5OUMU37p1C0hOmjzl5s2bQEZ4eMSWLVsg4m/evJk8efKBAwfAgXF3/fr1
EC2MQN8Dg/XP3/////1nZ2X68+f/X3AAAtl0LlcAAogRVxEHdM+UEMURl5NH3YHp
DjxJUkEBITVlylTizYUUGBCSGMUoZZqBJBekQMMs075//w7Lw3mPHj2aM2cOhDtz
5kxtbe13794B1bi7e8C1QMpARkZGuAnIBt68eSsiIvLOnTsvXryCKoMUXBDy15+/
abDSLHv1vQErzYo2PMy0kvjz7/+PX//ggt++fXv58iWw2Jk2bRqQCyzHgOUPMLz9
/f2BRdnTp0+RTQAGG7Cw+vr166ZNmyAi+/cfOH/+PJALLPjnz58PV/n06bMpU6Zs
2LDh8OHDt2/fBpUfP3//AxZccBKijo2FCbP8OHr0mLW1FS3SKUAAMeJpquFOVnQt
4kZu22g0RAZ3iHCzMQPL+GZPkpuuixcvxlquW1hYYlV/5MhRTMFt27ZNnz4DfyOX
EnDu3DmSQ4QFTP/9T7JltbV1EEZjYxOohTljJqRKiYmJ+fDhw/v374Hs/PwCiLfB
NcwNiPqmpma4IRMnTvTy8tTR0QWy790DlWsfP35SUVGFyKqrqwPJBQsWAkk5OXkg
KS+vABYHNds9Pb0gylxd3X78+AEusUFFvaUlKErKysqAZEJCIkSNrq4ekIyMjAKS
wNoSSL589XrVqlXAWAwOBvU+gJUCC/6+b86a+8iF6O4bHzddfYc1aHbs2FFfXxca
GgKv9QUEBIDN5ZUrV0B6GTo6OvAUpKamfvnyJeSiWl5e/tu3r0D21KlTe3t7+fn5
ILqAtTOwGQ1kmJmZwvsgW7eCmuCzZ8+GVIQQQ7Zs2czCwgJUr6KiAuT++QPqONnb
24OinQnaAFi/fh24WQMK0ICAwHPnzgKb6GFhYUDu2rVrIDEBrWuAvb0Wb7m3X/80
7HgMCRFIrwI5jNJX3WNjZhzpdc2vv//hSWZmmBJmezI+PsHX16+8vAKY/DZv3gzu
Lt3x8vICNuKA7GnTpgO7ZsCOaVpaGjARASMQ0uf18/OfN29+cnLK69evgY2cqKho
oGBBQcHjx4+BPVRgevbx8Y2PjwcqKy4pffv2LVAvsM8aFBQENOfdu/dAQ4Banj17
5uLq+uTJE2dnF6B2SLcuLCy8pKRk+/YdQDawg3v06NFPnz4B20hAEyIjI+H9xEuX
LlVX18B98fjxE0iOA9o12h5BBwABRE6IVLhIS/OzjTZGRttmo8ExGhyjYDQ4RoOD
2ODo8pMHNrQgw/8UgszMrObm5paWFqyykJ4IGli4cOHBgwexqge2vg4ePEShkz5+
/EhacHCyUi2ZTJ8+rba2FtiVwOz4gjtX8ZhagJ03YEcD6wjprFmzmJiYiBwJZUAd
M4XPzvz584eumaWoqAhIRkXHQLpqQHLRItBQgKKiEkSEkZHR0hI00peSkgrRAmyY
w7W/efM6Jyc3JydbW1sHbsK1a9cgssnJyUDt8I4spLEPbJKD09oCiOCuXbuApKqq
GlClhoYmkA00ChiOeXl5cFvMzMxgHb8tYK45vMurqakF6TEzYbbBIYPKbCxMwA4e
hAtH8HFiNLBhwwZgN3/+vLlwkfBwkHMhaaSrq4sBNtIMAUAPT5gwwcTEFNJnl5OT
s7KygkQj0Bxgx3fr1q1aWloQxbNnz2IAj9BOmDjp9+/fkKiGpAJzcwuIGki/Iz09
Daj94sUL4OGFrfA+LkTxP9SiAOIXNjZQ8/rrV9BsFz8/P3pwWCvwTQ1TKraX6vWX
VxJkB/Z3gVw4wpVogZ5nZ2dnZUW03Dk42IGki4sLcl8blhbe3Lp1E+juM2dOQ0ZD
vn37rqkJChcuLi6gOZ8/f/H29l68eAk0ATNBJxkL8vOOHTsGVIBmu7y8gru7O9Bt
wD4hUPb27dvIOQUyIITs8sWLFwN7dxBj0SIY2meBdFizVt+zVeSPNBFmAE/dzT/x
6szTr5AeLZBs2fnk5Zffw7vPwoJV9Njdz8svvAGlJWZGDTFOiCAkLIY3YDYLywdS
XlqCoBGna+/lBTl0pbjOPf127y0oNwITHGQ1QNzi2wz/GZiZQInLRomPjwOagBct
WqSvrz958uRXr169ffsWkgO/f//28OFDIBtYR+7YsQNYpB06dEhbW3vS5CkW5ub3
79+/d++elJTUpEmTvn37tmnzFqAgUHFlZeWTJ0+eP3++d+9eExOT+fMXGBoaANUA
MxewpDx16jQwn0tISOzes1dZSenkyZMvXrzYvn27tLT0mjVruLl5uLm5gEUVsIRi
ZmaeMWMGsIiRkZGZO3funTt3jh49amRkBKxuV61aBdR46dIloO3A3Ori4gqU8vf3
B5oALLkvXLgImhqDT+tnrrq77PQbIGPDpXcQ8V9//iFPYKWvvAsUfPLhJ9rE1qNH
j5AZJ06csLGxjYyMArIfP34MkQJa7+DgkJWVhakLCAIDA/39A5YsWQpkJyQkIqsB
aoRz8/Pz4brOnj0LDCm4FLC48fH1g7CBlcjy5SuAIQtUfOTIUWA5Agx3YNMGKAUM
qRs3bgBbOqamZk5Ozg0NDWvXrgMq6+zsBBoILTsgE2LsrEzA6uP3v//Awo8VPCAI
nyiDAHZw84TIsuP9+/eCgoJDsuxghzXDmJgZ2ZkZ0fxPHhhyYQEEAAHYufagJq8s
nnxJgApFrI6zKpQQCEURRLQoMeElFFsQrbYoLG1nWay0ClPbAvYPV1faKaKCWtGB
QnbYqrzEB4jgCwhpEUYcBZnF7mghgDKiVmrRWQLC/r7vkBiJCn3s9pUzmczlcu69
5977+87ju+fmx7wN+xEEM/dR0O/WHpliWhOZ8GEiE5nwYSITPkxkwoeJfhF8ILrt
Gxi6rx38dYqLsH3sb9j/n1L9IfAx3kKQES7JWiHJiXDctMjuZzmTejo9z2XEPZ1u
3bo1Y4Yrlffu3btly5ax95+aujUq6o2xcL70UjB6LikpiY7+q0Qi+UGzCA8PV6u/
/GU3cuZMNyzU782+MEYHOQEBC+fMmevhMVuh8OFxh1G+vr762wTQHRbPjHN3nzVv
3nx7e/GBAwdQuXBhoLPzC4cPH3Zyki5YIBeLHerr63lsrucbOTlKarhx40YHBwk+
jo5OlKxpTHK5IiwsTKnMkUqdDx5kkwz7+vpQRv8SieP69euJrafnu+nTZwCyGHTT
pk0kFcPw0TlGx3dz8/ABmlqtxljBwYvw/dVXbMqtt7fMycm5ulpFzGKxhK4tqVQq
Eg8ECelUdf/+/ZgLgIuZUvqph4cH/n/hwgV0OH++DPy9vXebm5vBIBQKsSZ2ds9r
tdpZszzQSWVlpa2tXUpKCpYUoh45cpSkam3VgAGFooPFmAj6jIlZxfUsSUxMKigo
QFtX15lz57JpnMJflTaDuDKZN8OwqO3u7l669NUjRw43NDTQfIgqysubmhqpDEBg
R8+cOR0XF1+j/vLKFfYIqqOjAw3Pn2/Yt++L7OzsujoWK3/n6Eb3zQUyWXu75jFI
ZZh1694bN85y166dJ05UkNUAEAMDAwYGHjg6Sk6fPlNZWSWVOoWEhLS0/GtE25oa
dWvrNwTod99dU11dVVFxAqBctIg9IXNwEAOsYDh7tnbFihV1dWeJuaXl8qpVb6tU
1XgGqAYb3NHBJghv25ZWWloSFMSe5EkkDn5+bKLlxYsXAYLOzk6aQllZWWLiR3v2
ZGg0bW5u7vX1dZMmTUJ9Y+NFLy8vjaa9s7MDfwLZK1dGCIXDxyECAZ8O815/bblC
rvDxUWRnf07/AhyTkzfTmaqX17yrV78ZHR8KsXX4nIlUTizVxCum2Nqwr0GVtTcu
dN1/2WXCK642T2obf6jtB7kLYE5OTp46depTePz8fPVlPCtWVlZU9tfVP2nEpKT1
0AeEocf6EOnpO7y95+MBVatr7OzssOvof0RKfVNT04MHg0ZiD8rl8hGVAgEjMhNl
ZWUZDTQkky0wFqC0tHT79jQCB489UBZOs7WlzOsRclJ+92gu0ZBCITdspb/fWlRU
ZJhzYW1tbcD2YMQ58Oj2xTC5P3WxPYGD6D/aQYAD20GfERSTf3VUcIwfP95DR1u3
br98uWX37t3OL7hAq3t6zqFMBz6fT6fvIFvbafn5BdCWUIBYer0mEIpEpHVG8AsE
ApFIhMKHCYlVVVVQ47Nne7q6uhpLYm5uxnDU1taam/tP0q54ppcsWQph8KFsZnd3
d+gGX18/yACtlpeXh0qRyAxo0I3O0OhBQUFFhYUwKGgL5oiICGIQGYgKq0TMhw4d
+vjjT2BWIB6UFkxAfHx8UmICxEBzF5fpa9fG6XBjZtB8eHacvtnm4+MLcJNtApvh
GX1hYcGnn6bAggQGBkZGRnL3kV/kpB3S98C1eggOM3P0wDxy/kKZ/FS+fW9gw/F2
AcOX2VvTWT8Z2r/kXTHDBId4QuahAH2DQ+lhYkvzYbmvfaf95GSnwCC/wXT+8od4
/3G0+c6z5gJz7mxXDw4Ew1mvS/TgKG78NuX0NQHDH3u3UBVP+tedO3eWLVv25ptv
jb23c+fOUZqQIfX398PtHWMPmZmZlMUUFRX1JJ6x9JaS8vhQKyNjD3nQxpSbO5xk
GBMTo3dyMzIyfsoe070nY4KLk5a+o7Cw8GfDh/GeAygIhg1rls967rPlDvSxeWYU
/4YSv+zt2YCCEuXINsPrHAbf/ftWVs82NrIOKUUx9NMSi8OW4BvTozAHsQC+KYHu
9u3bFhYWlLXH06XLQYtOmfKne/fuUfanXKHg6RLryHBQXh6Pu4cVEBAQGBjE4xK9
4M9//fW/dXlpq/Uyw2PFd3BwMDe6AgqSRKJQPDR0MY/7rYSSktKurq5Tp05du3ad
x+VoIQqNjIyAjYiNfQc173/wIYe24SfkLY5SU1PhWR87dgzWTaFQtLay97HoEhFo
e1o6uRRU2LDhb3DhlUplT08PYhZ//wBiCwkJJW8MPjJsK3xbeLh0iYzuNZaXH39/
3XuYHY/7lYfa2lqNRoMeduzcdenSJciMDh/Bh6HF0tlTHmPwWxmCRwEit7dOW/q0
Fxhdd7WjqC+GOXq0BGa+o6Pz5s2b8PmxOqhfs2aN3rFycXHBNiA+xHNQUVFx/fp1
TGbfF7nYY0wPNhXGGzEFmH18WKzAEUOr2NjVCQkJvb298MXAUF5eodX2W1paTp48
mYurmbKy4+HhK3ns9Tl2X/WZqQgIpVJpTY0KYS16gjMfHR2NPTh58mRDw3nErlgl
+JKQoU3TjlgXIkVF/XlgoD929dsc2vz0b8xg5j09Z2/enHzjRve0aazTbWNjU1xc
jImoVGps5M5dn9GzAUA/1ExzX+Tz2UU/kJeflJTE06VkwnemLXcQ22PuWLqC/DyM
HhoagicH/g2cOeA4Lm4tvFqsqpOTo1L5j7S0NDwV/v7+cDyxGhi0oKAINXBTCPQT
Jz6Xk4OQXgpth8gZzlnv93fd3NwmTJiANflN5n9kZmZhXeiKpIn+p/RfAdi7ErCo
jiQ8MNy6xigbYlBRBEXxwkQjCCiIGvxk5fQTkvituhyfigkqKFESkxgNGlQOOaKy
0U9xwFUTcAMMLAFBUBQ1CB5cATnlEJBjBmaG2f9Nw/OJw5UYw2ZfffP11/Omu15N
d3V1Vb9XVa+IP6CoB9pNYof7z6ycssAyBwsssMzBAsscLLDMwQLLHCywzMECyxws
sMzBAsscLLDMwQLLHCywzEGDVMoRSaio6iKJdBjSKpVKh6ELyfCk6iUzh6RL+pH5
uDAn3ePOU8LX6Kop/+5C5cGDBxkZAzuDBAWH5OXliUQiR0cnZnaGwYCrq9tgmgF5
TExMYFAwjxf9+PHjweMvKSmxtbWjnW7+KJBIJCRa2e/FHF1SzluvqTx76ef3lx2p
qWmD+Uv8xMTs7GxlZeULF/41VH+4tLQ0oVAwYLPOzs7PPttrMG1qc3PTkiUWJNb5
YEBXV/eHH76X967cKwUsHma6i5cFf6Q/CxhRbuA6cADz+uXLcUMS8sy+BQUPB7tK
FBXIy3/Ozs5GRvMCA4/2hXPwd3+JjfvvznzH/dfdAjsjjYHuNbwU0szMzIkTJ1pb
r5w4UYcE6jQzM9fXn8rnJ9Nt4uIu6+pOIV5cHFnuAEPDWePHTzhx4uS0aQaGhjPp
yIQzZ86aMKH73fo33xxHvM3Q0c3Nvf9Bp+u7dvlOnToNsgQlHURx+w5vkIe7a2q+
Qa5wuQr79n1laGhoYDCdvNxKwMLC8p135qOluTnlaJObm0tc6PbvP0AaW1h0h3Mf
N+4tQh4u0q4uc+camZqaoYudnT2+njwZiTr+3bp1fwdOPT19JycqOQAQrl5tW19f
DzG2YMG7PB4PyOfPX7BixXva2uOxS+KrDsMpdfbsOUVFRTL8lM9cQUEBxtzY2AR1
Mmio6+hMxlwML+ZYu3YtJjshIb64uGjdunUc6j1sKjydsnL366zq6urHjx8vKSm+
f/8e5vvLL/fhj+Xn3x01alRhYeHDhw/u3ctvbm4mPqV5eXfpnHE1NdW//FKCT3u7
4NtvI+TevaGhPjU1FdN5+HAAvubk3IJKBNmTlpZ68KC/9UrqZdXo6OiszMxHj8ru
3LlTX19LK/JKSkr5+fkgoLq6hmR327LF09LS4ubNG2iprf1WeHj47NmzQR5aqqgo
k8bl5RVtbVSUx+rqKkIel6sYG0u5NGKFfPqpX0ZGOro0NDSkp6dv3LghMTEB7des
cQRODBF2WyIdL126qKmpCQUoO/s6xjAlJUUk6vTw8KiqqtTS0rp79y7TtUlNTZUI
BiDR0dGBzoQxv379mrHxQqwcYLh2LSs09NjOnbuGkZtkQkIiFpCbmxvWLv4M7TjE
XMpisSg6mkfqXl5e+/bt8/Oj8ie0t7f7+39Nro8ZMxb8QRwGe4HVsmVHjhyWe3cu
V8nExHTv3r2YMyJg/f39x44d6+rqSmgolq22b74JiIjonWsGd9+1ayepY+I7OjpG
jhzJ5/MXLzYn3Vvb2jG7mC0OFSq1bceOHaSxqqqKQCAYMWJEt0zavn3Fe9aEcixo
YIiPj5ftvwrx8QlmZmZisRgCbNWqVb1GBgppL20Ma8DOzvbFAXxhN5F+8cXnpD55
8uS2tnYNDQ3U58yZjX8xMHMw86cpchUEYumMv6qNVle+WdnKVeB09W30ShUVuEPZ
UrFuJk2adOzYsX4sQ5FIDOHRMw0q0h61uauLmeBSPkk//hgv6hTZ29uhXlr2yGrp
UsgVoVBYVlZKsZ1EEhYWunnzFmfntaR9XV2dj4+3paUlEwnYjuTWYQLzDXImH4eE
hDAULAVa+Mklr7q6OjY2rrCwgDagIGzoXHO0QjBmzJjBDCbtOiqXIZiqBkluQ2De
PCMmPw3AHO2dXbR/SotQ8nVKVfDK7vRQmbynwNDLe4UJhbXCwCvVg1e5MOhRUVFM
f70BrBg+nzinDBLc3d1p99RJOhN7edIqcKTgAygBlpZLU1L+I9MDxj14WGBtbc1s
hlWel3/vXVmOoed6yxNFLS0tcgWYXIBegj30OXWdEi2qv04M03KX2KFMaGpqZC4k
psbaS8YoDmhQ0KCspPDVyucSh72uzu2nr39K5ZCUccxNRUUl9kv6FKSfxpWVlWfP
njkc8M0gkWNDOXBgf4cMOjv7DKGOvRYag7c3lTtrz57dYaGhdE4pkvR1zRondzc3
ItuI01FfYGtrCz2R/vrkyZN+GkPJXWVjA6lAKMSVt+fNo7tjK+mVrrIXqKqq1dbW
9vWrshIX+w7xVYEyjrsQ75iXacqqKfXmJGOdUTSrSaQc5u+RWY8HDNIPqZ6Tk0OM
jtbWNizlrKxMe3uH2loPGJZz584hXntMZ2LYKdDYsfVOmTKFyT3P+QQzvIppH+ua
6prDh48EBFAKx4wZM8BYvYihMUAjgz6/bNny5cutDh06COGEiYEmAWUIss3X1xdT
NWvWLAjnyZMnkbxvUB0YeJTJ3dGXGDvgJOjLuCPZEWiSZCZoN6lJfD5EJrGzIJyg
h0LHdHV1I93REaoopAjGgRmInZYrBgbTRr8+GmbdhAkTKLHX495Nw+7du/GnMFnB
wUHgcqgjUNdsbFbJ/Ke7xwp6Hi22Kfd0/ET7rYgk0oDVz3yjvX8oE4q7BKKuE2t7
bxyd4i4lRQWPmBIlriLJgyzpku6y1NZ7o3vrRcePLpaqMDQO1m/lfxGGZq0EplXf
rREoySadhIfmyrbbsX9RpjkD4Bv3SIWrwA7u/xdz5Fa1a6j03iwgXfYykphmP2oT
d0nZkf0TwNAOweSKg9UznzOujl+tGRLOixcvkthccgG2pYODw9mzUYNH6OnpKf8u
FwbrXgvFAuXt27dpH/xecOnSpTNnzvSPhMeLlnu9qampn/ATxPpNT08vLi7m9CS7
pZOt/wq4f/8+ySb0IsA04/F4YWFhL4c5XoSOLqnNzGcpBA4mU/lyhZ1d5DNg98LC
wrq6enKOicm7cuUK7Pu4uDjMJW0jXLhwgTy8jY9PILGRSAIjjLJAILh27RoJuBMd
Hf3zzz8XFRWRKBeYG3KCdP369cjISHt7eyUuNzAomIREgiKZkJDIkWUfunnzJh1n
jUOFxYkpL69AxcjISEmm52Oe0tMzQkPDaDNKRjMldEEbaEab2NhYEIn6vXv3iB6t
rq5KjisCAwOZRwvnz58nhxDV1dVkYvBncUfCDWQZBAYGHThAnenduHEDjLJ0KZVY
NTw8gsRNAAPV1dWRKxUVFSUlJRiE06dPk3hzoIGklq6qqgoNDZ0+fbqqikpExLfk
aTMIPnPmLEcWFMTmb6s1NDTS0q6QwCFBQUFkPEne+6dPn3ZnJcHHPbq4VSihk3zs
+L4UFzeeK2JmH3E9V0S3x2dTdHFVU6e0DxBJukgWE3y2XvzlxQYFBQUpKT+hEh1z
PjLyn5hsHi+mubnZ2dmFzkRiZmYOM8Hb2xt1mAmwUzDT+/fvx1cnpzUwOxMSEh7X
1oEzoqKiMjMzZXEprDGgMO1Qv3r1KpYOQUVylri4vA+mKSsrw08YhQ0bNmKgMS40
VWZmZm1tbTHnqSfA69dvWLTIFBXYgSi9vLzAGeiIOibg1KnTDQ0NIL6lpQXIMbLb
tu+4ffsOrqPB0aNHUS5evATl/PkLCHJz88UorayWodyyxRPl++9/ALMcEoI02LPH
DyWE35IlFqiAk1DC1nB39yANrK1XkoqNjQ0ZBJSw4MhYofzuu+9IDphDhwJISz09
fRkN88mrJ+Xl5eA50JydfQNXtm3bhhKGkiyby7soZXYNhe03SY7xr6uOe63PM6sH
NQJuv2opVq2FxRKQy1VUSE1Nhfm0aJExrD4sRNoSU6G4PkJ7PKXTYCBCjoViDiD2
/f0PwoBMSkqCXdohFGCkYAyTDN/AY2pqirXi4OAIGWNgYEBQbVi/npyeQgyMGDES
Vp+Ojo5EItbU1GSeJ8KmpfB/TS1ccM+mTVSsFXBJcHCwWCxJSOSbmJiQ55bJyckw
/0yMF6K7RCxWU1MbOUIDFjhJ9UVElJ7eFEwGScYNcHCwl9nt1MMX4MFPISFAK6aP
Zbds2XzuHG/r1q2urv+AMHB0dCTXw8PDNm3aDCEUFxf74YfrLl++/KSxEcLg6NEj
5LyOI0sWRs5SZSEGy1xcunEuXLiQmM0cWcboqKhzoA30k2NlItRGjx4NHpW9fgDC
qGGEKavYl0pBQjj18/oEpIzvMu1+5v5BrbB/1nN2dvb1/eSDDz6EWPvkE9/P9n7O
5ydRW1XHswBOYHBIhWge9TxFS+uN/Ly83Nxc2b7wbyx3W1tbLP2cnFtY/SJR91NT
LBqIxLffngc28vDwwLySqLedndQ5UodQuHWrp4+PT0bGVdKYw4jf8vHHXsnJSZgD
YMZXTc2x2KeAvLW1pexReWlpqYO9vY/PTtB869YtPz+/vZ9/kZSUTOMhT24JNmwo
skckhXl5eadOdb+2ArGHlS0QtAuFHaAKexDZlegnBlpaWp6eW/X09FxcXDA4Pf+o
E+LKymrpkyeNEHvYZerr61daW6MOBuL0ZMYjNGB1qaqq6evrOzo6QR5zekIjoU1j
YyM4MisrCwIbPERiJV7NyEhLSwN/5+TkkPYEG8rn4nMwcznRiYzkXnzxJzmGEFeB
jhL20s85li9fwecnsgbFqzNl5Wa26ifdlaryH/PEH/vxyZMn2MkbXuccwwRSU39i
Z+4VwH8FaO9K4Gpau3edTvM8KM2jSpMoURTJPEuKMpYxrsS9XMSVawjJrBJpUIjE
zVQqkoyRodlcmud5OJ36P+dsznecDsLlu/f77/Xr16/2efe733e9az3rWe/eZ6+f
9NqnnyNgSKDAq4cpke8/JYWUf9YeKSmkkEIKiR2kkEIKiR2kkEIKiR2kkEIKiR2k
kEIKiR2kkEIKKSR2kEIKKSR2kEIKKSR2kEIKKSR2kEIKKSR2kEIKKaR8K3Z0fPZb
taSQQsr/H/ncFyUpFF5hKq+EAJ+MqICMMJ+MGLWHGD/jpRUPK5ppHeTrwD4lbW1t
mzZ5Z2Zm8jBe0dBub2/v6upKqoWrvHjxwtt7c11dLYyNQuHz8vLq27cvqZZ/Me+g
0TulhKk+49V8JqivG6WyeLC8o5nscD3JPsoiqtLMF1X+++nHoUOHlZSUXV3dvr+r
9PTHurp6SsrK7u5LeZgvo9m2beuFC+dHjhzx5MnTz7xa9jvF2WUmLmpmZl5YWPi3
dNjQ0GBnNxxz0dHppaGhqcUQbW1tnUGDBvv47GhsbPrbp6CjoxMeHnbhwgU+Pmpm
ZnZDQ+P/Z2/MyMgwMjK2shr0VdWi/nG8g/l2qf9pxkXlg5N3/0Xsn5G+fU3v3Lld
W1uroaH+sQ5/7BRCQ47n5+fLyclJSkr+LR3y8vLy8fFBJ0ePHrW0HMg6fvDgwcOH
/cPCwoKCjgwaNIgMuT9IiJd1CQkJsQrF/FtzFlIgpWXl52NiHj9Or6qqlpKSMjA0
nOYwVUlJifi0uromJuZcfX19S0srfru6zkOk5tpPTk7OmTNn8vKeA7NUVdWnTJkM
xCE+amxsPHcupqqqsp3eUVZWPmf2TAMDg1u3UmNjYwENMCZNTQ0nJycTExNWbxcv
XmJUheCllJaU4DjrfXSpqan37j8Q6AKIbTRab309jgoRnxbOepjLli1LT09PTEzC
qNixAwEmOflmXFzc2/x8Ci8v1DJ69Ghb26Fda4uhJXpISEjEjGg0mrCwcM+ePUeN
GsmRoRAnxsfHo8+CgncAd11dXcyuV69eXUdZVl4Rcy4apK+mpgboaWhkNNV+irLy
+/fYVVVVRUefI17PVldXt2DBfHV19YRr8Zevxr8rKCB6nj7dCb9ZHb579+7M2Wh+
KqdTtNPpUpKSGAZ7kYu8vLwLF2Kzs7Oamhrl5RXMzMywphISEsSnmVnZ15OSEH9r
amqpVOrSpe6ioqLR0dHXr98AD5WWljI1NXV2diZel19RUREVdQZzLy4uplAozc3N
x44Fi4uLY9UkJSRmz5718uUr6AS91dbWof3y5b+AIaLNkydPxo8f5+w88/TpUwz7
aW+vqKhE+969e7OPH1EtMvIk+ndycpSWZrw49uXLl9AwrZ3eUF/PwygEtBLXjWa+
C7a8vBzKtLGxnj79/XwxlzNRUZgvFhHR0dHRkVg18j7L51JxS0sr68GDkY3/8ccf
J06Eb9y4oaiwcPBgaxubIUVFRTyMqjiiEydOtLW1TUpKAjS8ffuWoxPE8Ozs7H79
zNauXWtnZ7dnj5+np2dBQT4WwNy8PzgqD7Paz5gxoydMmPQ4/fHF2L/8/PYYGhqe
jY6eN2/uoUMHf/vt16fPMiZPnkxUPiPEysrSxcWlgfEyxlOJiYms44hXggL8Aswf
ISFBgA5MNjQ0NDAgoLm55Wv4x0fOf+DAgRs3klVVVefOncM6uHHjRnijn5/f5MmT
jgcfPXIkcOjQIRs2bNDU1EJ7dtRYtGgxWnp4rFBSUvTwWL5mzWo3N1d5+R7V1ey1
YRBvBY8cOaKv3zslJWXJkiUBAf5LliwGGo4cOcpz5Sr28QCCLQYMxNLAzbw3bw4L
C/Xy8sp/+8ba2sbWdhjxjl/43oQJ48eOHQd/uHLlyqZN3oyeb6W6L1kSGBgwf/78
69evjxo1etWvv7FPm6U9fn6qQs+e2tpacNr9+/bm5uaygOPy5SvoasYMZxUV5f37
94GOYZyAO6Qbs2bNJqraaGqoT3N0RAyIiYlJTEyABgDxiDTr1q0LDAwcMWJESEgo
DODYsWM8zEoaFhb9QfQMDHoThcz69es7cOAAy4EDEGAwKmh+2jQHeOzZs2eTk5Pn
zJkDnUBdMIkBAwYKCFARFUaOHHkj+SYaEO9D5sCO48eDIazKL8jW7e3t+/U1vXTp
MkAEmbupaV9AsJfXeiinX79+u3b5oueDBw+ZmJh6b9oE+zxwYP+6dWuBIPb2U+fM
mUvyjk9KYWEhwgLM4Nq1eNg9cRAxbccOn169dDZv/tPLa0Nw8DGYGFIGrD38n2u5
NdhBWtpDX99drJiP9ljIXbt2+/sfgkFHRZ2Cw8sxRUpKsq2tLSc3B/bKip8ITXv3
+Dk7u2RmZgHOdHR0eD4U/OrZU6Hj4zoFA5nC+vfy5cvbt2/v2VMR5EhFRaVbG2DM
8jceHh7wHyKOYQp9+vQJCTlubW3NarZp06aQkJCFCxfCaVkHx44da2NjM27ceH//
AAyDeK/y9Okz7t27t3z5clb1O0KMjY054Ar8CxH43r27rBQMHGfnzh3w0kcP0/AR
URrr9evXwE2AG9yVtTSqqiq+vr5aWto7d+7E0sABsDSgNkzPFEG4Li0tSUt7wHpj
MWBOSoqh1Qf37wNrevToQayvu7v7fyhnaemMGTNAf5CyYWrEwbi4eMzF2Njo7Nko
pHfEQcT5iIgI4B1ccd/+Ays8loswpUlLCwQnP78A7IbYOycELBJQjoAE23BzcwML
Mzc3J5QAjWHkgAn2OmDCwkL4YW6l8SM+QS0ZGc/YtScnJwsuIyoi0s0C6swOoRyK
oKBAQUEBxp+V9Z/hgSWVlBSfOnUaMAfIGDp0KHFcVlbWx8cHy5GVnf3ixcufhB1w
K1pHJ51p6AJUyj//Hs3Vq1fr6uolJMTnz1/QyV53kFlLFLxAontbDC0tLQgyXZMF
c3MzPj5qSWlJU1Mz+yu4W1tbZ8+azQIOFnkBvsCTv6qU8Zo1v0dGRk6dOpV4UfaH
JKsasb2pqYlVIgtoNW7cOCsrK+JfGB8uBzcIDw9HmgbWQ5S+ZBd0guRFQkIyISEB
OUvnx3UZoRkgKTHUu3fvwmfU1NTg7V+ykE5k+0j6OPZuiA0pXl4Ka+5InZCDoJkb
s04C+9Kgsb6+PkHL2W0PbB8uylE6UVBQiCiOzVWrSBhXrfoVC3HzZjLxjnFC4q9d
g+oAqWPGjOv4OFoICgjq6elTP96q6OigI5EB3HD036OH3LfVpoYlLF686Gu3sT5V
Wh3LjcgHMsjVdEHcWMBBCFaWsBz0+b3Y0ULvNFcSGakv3cZWa5SPl7eujR6VXlHR
SJMS4huuK9VfXUxGhEooKvRuWcqbemF+Ck7R7yE0wVCWsS/7lTeH+Cg8559V5Va0
/KDSUXBsOJWGhuapUye5VgzvNmh2qqmpdj1eU1MNV5GWluEo2oYzwCa+f48GpOnt
mzd79u51YL6ynyXwn2nTphF7cqwRElGXJTRam76+3vXrSX579iKMBwUdRerETmeg
EJwO/QCewGY/MxLkFFhb5r575xcVhaQAFOmLs0M2QaPRNDU1IyMjurOnSERyeXn5
7isQiUzU6dOOjtN2797NaRgUCvAd9Grr1i3djJoINt9cDbSLq3diBRH/v4QUHwmy
mMbGBnFxia9SDrqRkpL6vBt+H6Ho6JQQ4teUE9RTEGL96MgLassKSgnzbRil6jtZ
Y7SBlKwolTUjgn10MPOl4XpSaNyL7dzu/KjJCp55XJn9w4ADMnr0KESbx48fh4ef
+H7OxSGvXr3y9d3N2EJzX9IFO75XQJttrK076HQETA7gIMK4lpZWL+RdHwR/dzUR
YswrPVfcv38fzB95B+g9UYMdQuylwYH9/f1ZRVi5ChBHUUmpqKgoIMD/S7GRIAhf
vjVlZ2enoKCQnp7+VZW+unnPq7i4eNiwYbF/XfD3P9wVOJh52RgEaiSDSDd+BD0n
uABRueVTrT7FR4SEBHEux34HMjJv7810esf3hMCfep9FUpjv9+Gfq9zSziQdRooi
Xx1U62k7k4qaaR1C3wccjIJBfHzPnj1zcZnJniXCQxwdHWfOdDl3Lnr+goVISpFI
W1j019bWYe6BN2VlZWdkZOzZ4zd69H9CbgeTcnOYfns7DafExcVVVVXJyIBI85aW
ld1OTS0pKRk0ePD58zEcAR/hGWvM1X/oTOH4iBnP6eyD37z5z5CQ4yDJYmKiRCEo
VipkZGy8x2/3F0M00247WAaKrPvSpYvR0dEbN27s08d02bKlK1aswPENGzb06CG/
Z88eIyNjAFD//v3FxcVxemHhuwcP0rS1tZAu8TBrCZ2Jilq4cFFERMSZM2f19PS0
tDQZt0jKyuH8Y8aO3e2768MEO5iFhLjPnb10vYqKSkzMOeSSGBJzaSyAhtAzQmte
Xt6TJ08DAwPY67V/KH3TtefO9vYO9p5v3EhGsoau1NTVg4KCAgICWT1gdlhxpDDg
8GFhoUuXLnNwcEC4HjhwAPOmG29lZQUMAyh55cplYp+F7bYrFMvLTdUdHNsToHuY
3fPnz6c6OJj1M6PT2zF2H5/tRB6HTgjC+CmEnTNn7v37Dw4ePJSaenvYMNva2ror
V64ADVeu9IyMPFlZWbl37z4dHW1k0B/uLoHHcMcpDKydmykSwyb+5F5jgUbvlBOl
rh2uwqpYzJLKxnafhMLGNjpRlgc+bKcjNcNctvtOG3yn9PbbBiEqRUqYKi3ExzE+
JEEGCiL2pjJcz31S2OSfWsLHx0v5BGx3v8YCAmZ9fX1XMIZqQAsRW1hH4Pk5ObkN
DY1IusXFRMGW4fPsJ2IK1dXViMMI4BzsFFcpLS0FHqET5EFKSgjDSp9isLW1tSD5
6ARZJceQcDquIiMjw87S0RinoDGLONTV1eEg10nhop+noMREcCE0hrFyECLMrqam
pr29HcfZOXNbW/vr1y/zmQUWwedVVJRVVVWFhYW7do6xvXv3DmEQfgjvgg7ZH66B
ApEESUtLc1wXll1RUQGOxqzJzumB8IecnJym5hYG/5UQ09DQACXhaPbFnvERoTFk
+NAn1/iMPjEAjkVn1mp83Uaj4eo9esji6hxbLbgE9Nn1XALNMTAoquuzOZhUVlZW
c3OriIiwpqYGa/ML64KP0Buu8plkDWDx7FlmY2O9krKKkaEBLBnDwLUIRxMSFBAR
FSNOR4c4jt9YUI7hNTBFjCldTRF/YAw/FjsaWzvuvq7PKW+ua6ETqQq6q26h4yyu
m0Q4PlZf+lPAcTGj5nxGpfCny0mR9VlIIeWnyQ+8z/KirGVnchE/hQtH4AocYByL
LBX6q4tx7S3gVlnau3phfvKBFFJI+Z/HjoqWDnonhfLlXQl6J48wH+8aO2UVKS58
oZHWsSuhsKSe9oOAA1zu2LFj5eUVDg5TuT6/+E+Qbt7PAxMODw+vrq6dPHlSr146
P248cXHx9+7d7dOnz6RJk74iXQ0+XlJSYm8/hVU9+ucIaHxExEl+AX4nx2nsmxF/
7wLxcLvH8RMkmSE3+/XrN378uO5v9kWfi7l7965Bb/25c+d+2yPwPzCMtwI4utGs
jd6pKMa/ZbwaV+DIr2xdH5tf0djO/8NuqWC958+f//Dhw/T09K89t6CgwMrKKiIi
Ii0t7ciRIFNT07Cw8L99hKWlpdHR0Z/de38vgoKCmMvNlJtPmNW+/y6pra21tR2m
q6v34EEacWTUqJGampqnT5/+qn5cXec9ffqU1ck3S3Z2Ntyl++0VFRXd3OZdvnSx
64O/n5eQkJDB1tZEYW8exrPbqxQUFIhq3zzMZ9gtLQc9fvwYf9+/fx8m9F+JK0OG
DMGoTp482c32bW1to0ePERQQ2O27y83Nzdvbe/lyj38W7+iONNM6LNXE3Ky4P9FQ
UkdLeVlvqSbO9dP04sa6Vvr3QEpYWFhISKiFRX/Ax6tXrwQFGTuUTU1Ny5Yt6+jo
1NXVTUhIABlxd3ffsWPnhQsXlJSUGhsbgNNOTk6sTkRERC0sLEBYsH7nz58XFWXc
OTrLkGhDQ4NXr16/ePEiJOQ4PA3uN32605IlS9AATOfkqVMJ164FBwejpbW1dUZG
BtAhMjIiPv7aocOHm5ubxETFdHV7ubjM3LFjB7zX3t6+ubnZ1dVNQEBAXV1NWkZ2
hcdyjPzPP7ckJSX1729eWVk1dar92LFjhYWEwkJDL8bGKisrx8fHLVq0aD7zMSqY
fn5+gZlZv1u3Us3NzTZt2nTsWDDG1rOnopCQoKqqamJi0rRpDhwPgPIwvs/yi6Pj
NE1NLc+VnpcuXiS291gPiWAAKSkpUVGnoUMfHx9wirr6htupqT4+24cNG4YGQUFB
p06dNjMzo1L5nj9/LijICBJwSHf3pbDj3r17Y/wODg5LlizGTKENLS0tcXExKSkp
jBPTyczM1NbWxiVsbW03b/ZOTEzc7uOjo60Dn0H8XLHCs6ysDAzo+vXraLB27e/s
0fX339cCaIDpUGB1dQ2xO4sVgSqwZIDa27fvbN26VUtLc/v27Q8fPpKTk8Mgvby8
cApaYq2xkKGhodDhvXv3Xrx4CTTx8dkxduwY8JcDBw5YWw9GS3C9gIDA4cPtzM3N
4+Lidu7cCZMAE8Gyjhs3DjZ2IuLE4EGDmptbnJ1nYKg3btzYtm37wIEDq6urs3Ny
Qo4H19fXYwBFxcVKikqycnIlxcXl5eVQqYyMzL79B6BzhCgarW3evHk6Ojq3b9/e
uPEPHR1t4unVLVu2wCSKioqcnKZDUUBnMTFRxDOwiS1btmJRtLW17t69hyWOioq6
c+dOZGQktBEbG3vrVgpWEPppbW2DQsBcXFxc9u7dCzPA5R49eiQhIXH0aBBaHj7s
z7yUsJqa2p07dw0NDQ8ePED97wLHVBPZMQaf3PzvKcHvYiHH9aOiurZ77+q/5+pH
jhy5fPlKUtL7L4Pk5ORibfDHuvVeec+f6+nq5ebmwT7OxcRMnTp1zZrVUOXQoUNh
3xycBS4EqwIrfpT+GP4AZ8BxeALcBpwQa//8xfOrV68uXbo0IMB/zpw5gwYNkpKS
RuzCQqak3Dp48JCRkRGujuWHTUdERM6aNbO4uCg29mJ09FnCOWfPnrV//wEKhVJT
U1PwrkBNTd3MzByWik9hNzjr+vUk9lE1NDSMHz/e3Z0BUvCQ+Ph4YAfcEq5obGyc
nZ0jLS0NY8rJyXFzc4Udw3vXrVuLxqGhYTB9DkXt378fTkhAHqK9p+fK4OBjBMcB
EFhaWvn57d6wgfFkOowPbgbbQnjPzcmJiTkPJQQFHb106XJiYsL7TPbFS0JF8Oq8
53n6evp5ec8VoOdz56ZMsV+zZg3o96hRo8BQeJhPvsP0T58+RcAx875vp52d3ZOn
z3Kys3Dwjz82QfmYFOYC7E5MSpwwYTz0SVxrwYKFYByxsX/xMO+2ODo6EfcXly5d
Bm1XVdV0dnYAoRjf9wkMWL16NUICgnCfPibs01+8eLGv726AyL59+52cHMeMGQOz
8fPbs3z5L2lpD48fD0abWbNmPXnyhCCGhYVFACn0P3nyZOI7Y69fv6qrrRMTE4Nn
YjnAVtauXQcnBI5jTfmp1ICAAKwjLrR+vdf+/fswJODOmDFj799/MHr0qFcvXyKe
ycnJAoYQgTDT1avXhIeH4W/WINvb20VFRQlF5eXlzZvnilAEkPLyWg9qDEwUFBQ+
f56RpAAUcHzixEnz57sNGDAA7b29N9fW1hAPs2Bqx4+HYB1xFQz4zZs3f/31F9JS
/JuVlY0wgzbgWb/9trqysvK/gx0djKjV6WGjaKwk8m09vCptqW2miwh8e85FpVIb
Gxthx1hmuFNeXi4/PyMeSoiLq6upHTt2tOv+LlhA1yyXj49iaWkJvLexsamsqIDP
z5gxA26AgLlgwXyoODz8BJX51Uy4KEL6ypWrhEVEPDyWKysrIflHJFy/fp2enh57
tzRaOygDR/KMocITbqWkMFK5/HxraxvAH6jQjeRkYhaslnxUqryCAiv2ElvTsEjw
hcDAw6xvYbzPWikUSUmJD4050yJ45unTUWC2mAW6glum3EoJDAxEHG5tbTU2NgGw
gj4cOnTIysrSw2MFgjZhhTExMcTTwjgC06fRaJhpbm7us2cZDtOm8TAfMIOeEdY4
5sjD+KaWIku9rPvKHx4rYOrkw3PIsrIy8vLyQUFHuG40IPACRom/gV9FRYUE78Dv
oba2q1Z6frTpRqcDDRFaOToBCp85cxbTlJWVc3Z2xpHffvt17tx5IIAjRowABHTN
ywjg8/f3Bz5evXrFmyk8jG8JrUDA9/c/jAHMnOkyYcKEj22J+VXGj+7fM/ZQ9u3b
S/yDwCMrKwt4RYgCOrNjB3FbnX3nBf3A9iZMmLh7t+/kyZNu3rwZFhZKpXLxd+bz
L++fkxBmyrZtW9kfwycEtIV1LeJbCHwWjlxSHQrzIf/OTt63Va0vy1tfVrz/eV3Z
9qKi5XVVC4bHWiwqhaeVxvO8vIXVDD9vq9pyy5orm9r5uO6VdvIM1cJUeTnO6uYP
hnHrTV1LWwdvl84pFN5BmuISQl/e+0FM0NPT3b7dB4mGioqyqWnf+w8eoDuEaA0N
jZ27fJE+JCQkApKJb20VFZf0MTHp8jRXJ+LMjRvJV6/GpaU9QOAivmvQu7c+jBVp
DlbUxMQkIzMTUwbJBNkD4VRSVPT09CScBDkRMtUjR4IuX74EtmlgYABqWFdXjzBi
atqHuEpTUzN8b8gQm4qKilWrfgVhQcDfvn2bkZEhZoEoAVaCayUmJSnIy4MrFRUW
m5qaEC8KABmGGSEvA522sBjg57cXYRa5GIgSTuRhPKZVChoM7GM2biAas6zkxIkI
eAKMD9EY4zExMR4w0BLpA3qDCcEGXFyc58yZjfBbW1sHfpSamopTMGAkFK9ev6mq
qsJBZH8gz6C+8vI9MN5H6ekddPqCBQtw0R07d52MPInxNDU3GxoYMPRcVISBKTCx
D2RBTq4HQQSAAnAt4tH4mppa4B2a4d++fU3BCwBt165dKy0tZf9SP5yzrq4O+ebN
lFvDbG2xFiCP8PZffllWVloK7hAdfQ5MSlxcQk1Nlfjin6XlQI4nGiAGBr1fv3m7
YsUK4vtpkgyRgnIQAFhPsmBpAPdYPgRq781/AjLU1dWRwcFdQfj37N2H4dnZDVu7
di2AAwQEvA+UE7YHe0C2iJ5bW1sAsoMHDyZ2LgsLC6FkIOOuXbsOHfYHQZ4yZQqy
aYK/ILENCwuPi4vH8iFpamiox0j69+/PDDw0qB2agSUAArDcoHIwQhkZ6UeP0jH9
nj0VCgreDRhgQXyjEuadnv4YuRhWbeJE6GwCqCJS6StXrmRkZEK9CEsgvABxQrfA
94b6eoyT+/Md/1L5Jz/fASOG0RD558mTkTykkELeoyWlm/fwEJqQf3J95pIUUkjs
IIW7MImuJKkHUv5n5P8ATcohk4PSp9wAAAAASUVORK5CYII=" alt="LRZ Logo">
    </p>
    <h3>Verfahrensbeschreibung für den Dienst {{content.serviceShortTitle}}</h3>
    <p>Art. 27 des Bayerischen Datenschutzgesetzes (BayDSG) bestimmt, dass die behördlichen
      Datenschutzbeauftragten ein Verzeichnis der bei der öffentlichen Stelle eingesetzten und
      datenschutzrechtlichen freigegebenen automatisierten Verfahren, mit denen personenbezogene Daten
      verarbeitet werden, zu führen haben (Verfahrensverzeichnis). Dieses Formular dient gemäß Art. 26
      Abs. 3 Satz 1 BayDSG sowohl der erforderlichen Verfahrensbeschreibung als auch der
      erforderlichen allgemeinen Beschreibung der Art der für das Verfahren eingesetzten
      Datenverarbeitungsanlagen und der technischen und organisatorischen Maßnahmen nach Art. 7 und
      Art. 8. Ferner weisen wir darauf hin, dass evtl. vor Einsatz des Verfahrens der zuständige Personalrat
      durch die Dienststelle nach Art. 75 a bzw. Art. 76 Abs. 2 Nr. 1 und Nr. 2 BayPVG beteiligt werden
      muss.</p>
    <p>Zum Aufbau:</p>
    <p>
      <ul>
        <li>Die Abschnitte A.1 und A.2 enthalten interne Informationen für den
          Datenschutzbeauftragten. Sie werden nicht veröffentlicht.</li>
        <li>Die Abschnitte B.1 bis B.8 umfassen die erforderlichen Angaben gemäß Art. 26 Abs. 2
          BayDSG und stellen die von jedem einsehbare Verfahrensbeschreibung dar.</li>
        <li>Die Abschnitte C.1 bis C.3 umfassen Angaben zu technischen und organisatorischen
          Maßnahmen gemäß Art. 7 und 8 BayDSG; sie ergänzen die Verfahrensbeschreibung und
          werden für die Erteilung der datenschutzrechtlichen Freigabe durch den
          Datenschutzbeauftragten benötigt. Sie werden nicht veröffentlicht.</li>
      </ul>
    </p>
    <p>Zum Ausfüllen des Formulars sind <red>alle Angaben in roter Schrift</red> dem jeweiligen Verfahren
      anzupassen.</p>

    <h4>A.1 Gegenstand</h4>
    <p>Diese Beschreibung dient</p>
    <p>
      {{#if content.sectionA.documentPurpose1}}<i class="icon fa-checkbox-checked"></i> {{else}}<i class="icon fa-checkbox"></i>{{/if}} {{content.sectionA.documentPurpose1Text}}
    </p>
    <p>
      {{#if content.sectionA.documentPurpose2}}<i class="icon fa-checkbox-checked"></i> {{else}}<i class="icon fa-checkbox"></i>{{/if}} {{content.sectionA.documentPurpose2Text}} {{dateFormatted content.sectionA.documentPurposeOriginalDate}}
    </p>
    <p>
      {{#if content.sectionA.documentPurpose3}}<i class="icon fa-checkbox-checked"></i> {{else}}<i class="icon fa-checkbox"></i>{{/if}} {{content.sectionA.documentPurpose3Text}}
    </p>
    <h4>A.2 Autor bzw. Hauptansprechpartner für den Datenschutzbeauftragten</h4>
    <p>Die Beschreibung wurde von {{content.sectionA.createdBy}} am {{dateFormatted content.sectionA.creationDate}} erstellt.</p>

    <div class="contactInfo">
      <p>&#160;</p>
      <p>Direktorium<br>
      {{#each contactInfo.direktorium}}
        {{this}}<br>
      {{/each}}</p>
      <p>
      {{#each contactInfo.address}}
        {{this}}<br>
      {{/each}}</p>
      <p>{{contactInfo.ustid}}<br>
      {{contactInfo.telephone}}<br>
      {{contactInfo.telefax}}<br>
      {{contactInfo.email}}<br>
      {{contactInfo.internet}}</p>
      <p>Öffentliche Verkehrsmittel<br>
      {{#each contactInfo.publicTransport}}
        {{this}}<br>
      {{/each}}</p>
    </div>
    <p>&#160;</p>

    <h4>B.1 Bezeichnung des Verfahrens</h4>
    <table class="table">
      <tbody>
        <tr>
          <td>Bezeichnung des Verfahrens:</td>
          <td>{{content.sectionB.serviceName}}</td>
        </tr>
        <tr>
          <td>Dienstbeschreibung unter:</td>
          <td>{{content.sectionB.serviceDescLoc}}</td>
        </tr>
        <tr>
          <td>Nähere Auskünfte erteilt:</td>
          <td><p>{{content.sectionB.furtherInfo}}</p><p>{{content.sectionB.furtherInfoDomain}}</p></td>
        </tr>

      </tbody>
    </table>

    <h4>B.2 Zweck und Rechtsgundlagen der Erhebung, Verarbeitung oder Nutzung</h4>
    <p>Personenbezogene Daten werden zur Erfüllung der folgenden Aufgaben erhoben, verarbeitet oder
      genutzt:</p>
    {{content.sectionB.purpose}}

    <h4>B.3 Art der gespeicherten Daten</h4>
    <p>Im Folgenden sind alle Arten von personenbezogenen Daten mit ihrem individuellen
      Verwendungszweck aufgeführt, die von diesem Verfahren erhoben, gespeichert oder genutzt werden:</p>
    {{content.sectionB.typeOfStoredData}}

    <h4>B.4 Kreis der Betroffenen</h4>
    <p>{{content.sectionB.circleAffected}}</p>
    <h4>B.5 Art der regelmäßig zu übermittelnden Daten und deren Empfänger</h4>
    {{content.sectionB.typeOfTransmittedData}}
    <h4>B.6 Regelfristen für die Löschung der Daten oder die Prüfung der Löschung</h4>
    <p>
      {{#if content.sectionB.deletionDeadline1}}<i class="icon fa-checkbox-checked"></i> {{else}}<i class="icon fa-checkbox"></i>{{/if}} {{content.sectionB.deletionDeadline1Text}}
    </p>
    <p>
      {{#if content.sectionB.deletionDeadline2}}<i class="icon fa-checkbox-checked"></i> {{else}}<i class="icon fa-checkbox"></i>{{/if}} {{content.sectionB.deletionDeadline2Text}}
    </p>
    <p>
      {{#if content.sectionB.deletionDeadline3}}<i class="icon fa-checkbox-checked"></i> {{else}}<i class="icon fa-checkbox"></i>{{/if}} {{content.sectionB.deletionDeadline3Text}}
    </p>
    {{#each content.sectionB.deletionDeadlineSonstige}}
      <p>
        {{#if value}}<i class="icon fa-checkbox-checked"></i> {{else}}<i class="icon fa-checkbox"></i>{{/if}} {{label}}
      </p>
    {{/each}}
    <h4>B.7 Verarbeitungs- und nutzungsberechtigte Personengruppen</h4>
    <p>
      {{#if content.sectionB.permittedUserGroup1}}<i class="icon fa-checkbox-checked"></i> {{else}}<i class="icon fa-checkbox"></i>{{/if}} {{content.sectionB.permittedUserGroup1Text}}
    </p>
    <p>
      {{#if content.sectionB.permittedUserGroup2}}<i class="icon fa-checkbox-checked"></i> {{else}}<i class="icon fa-checkbox"></i>{{/if}} {{content.sectionB.permittedUserGroup2Text}}
    </p>
    <p>
      {{#if content.sectionB.permittedUserGroup3}}<i class="icon fa-checkbox-checked"></i> {{else}}<i class="icon fa-checkbox"></i>{{/if}} {{content.sectionB.permittedUserGroup3Text}}
    </p>
    <p>
      {{#if content.sectionB.permittedUserGroup4}}<i class="icon fa-checkbox-checked"></i> {{else}}<i class="icon fa-checkbox"></i>{{/if}} {{content.sectionB.permittedUserGroup4Text}}
    </p>
    {{#each content.sectionB.permittedUserGroupSonstige}}
      <p>
        {{#if value}}<i class="icon fa-checkbox-checked"></i> {{else}}<i class="icon fa-checkbox"></i>{{/if}} {{label}}
      </p>
    {{/each}}

    <h4>B.8 Ergänzende Hinweise</h4>
    <ul>
      <li>{{content.sectionB.additionalInfo1}}</li>
      <li>{{content.sectionB.additionalInfo2}}</li>
    </ul>

    <h4>C.1 Eingesetzte Datenverarbeitungsanlagen und Programme</h4>
    <table class="table">
      <tbody>
        <tr>
          <td>Bezeichnung und Standort der Anlage:</td>
          <td>{{content.sectionC.titleAndLocationOfSystem}}</td>
        </tr>
        <tr>
          <td>Eingesetztes Betriebssystem:</td>
          <td>{{content.sectionC.operatingSystem}}</td>
        </tr>
        <tr>
          <td>Eingesetzte Software:</td>
          <td>{{content.sectionC.usedSoftware}}</td>
        </tr>

      </tbody>
    </table>

    <h4>C.2 Maßnahmen zur Sicherstellung der Verfügbarkeit der Daten</h4>
    <p>Zur Sicherstellung der Verfügbarkeit der Daten werden die folgenden Maßnahmen ergriffen:</p>
    <p>{{content.sectionC.measuresForAvailability}}</p>

    <h4>C.3 Weitere Maßnahmen nach Art. 7 und 8 BayDSG</h4>
    <p>Es werden die folgenden weiteren technischen und organisatorischen Maßnahmen ergriffen:</p>
    <p>{{content.sectionC.measuresBayDSG}}</p>

    <br>
    <p>
      <h5>Änderungshistorie:</h5>
      <!-- {{#linkTo route='viewProcDesc' data=getOriginal}}
        <li>{{getOriginal.content.serviceShortTitle}} - Bearbeiter: {{modifierName}} - {{longDateFormatted getOriginal.modifiedAt}} - version: {{getOriginal._version}} - {{isVerified getOriginal}}</li>
      {{/linkTo}} -->
      {{#each getVersions}}
        {{#linkTo route='viewProcDescVersion'}}
          <li>{{content.serviceShortTitle}} - {{longDateFormatted modifiedAt}}
          {{#if isInRole 'datenschutzBeauftragter'}}
           - Bearbeiter: {{modifierName}}
          {{/if}}
           - version: {{_version}} - {{isVerified this}}
          {{#if content.approved}}
           - Freigegeben: <i class="fa fa-check"></i>
          {{/if}}</li>
        {{/linkTo}}
      {{/each}}
    </p>
  </div>
</template>
