/*****************************************************************************/
/* ProcDescList: Style */
/*****************************************************************************/
.proc-desc-list {
}

.search-box {
  float: right;
  width: 33%;
  margin-bottom: 15px;
}
