<template name="ProcDescList">
  <div class="proc-desc-list">
    <h1>Verfahrensbeschreibungen</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Dienstbezeichung</th>
          <th>Bearbeiter</th>
          <th>Zeitstempel</th>
          <th>Optionen</th>
        </tr>
      </thead>
      <tbody>

        {{#each proc_descs}}
        <tr>
          <td>
            {{#linkTo route='viewProcDesc'}}
              {{content.serviceShortTitle}}
            {{/linkTo}}
          </td>
          <td>{{modifierName}}</td>
          <td>{{modificationDateFormatted}} Uhr</td>
          <td>
            {{#linkTo route='viewProcDesc'}}
              <i class="fa fa-file-text-o"></i>
            {{/linkTo}}
            {{#linkTo route='editProcDesc'}}
              <i class="fa fa-pencil"></i>
            {{/linkTo}}
            <a href="#" class="pdf">
              <i class="fa fa-file-pdf-o"></i>
            </a>
            <a href="#" class="delete">
              <i class="fa fa-trash-o"></i>
            </a>
          </td>
        </tr>
        {{/each}}

      </tbody>
    </table>
  </div>
</template>
