<template name="ProcDescList">
  <div class="proc-desc-list">
    <div class="search-box">
        <div class="input-group">
            <input type="text" class="form-control search-input-filter" value="{{searchFilter}}">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search start-search"></span></button>
            </span>
        </div>
    </div>
    <h1>Alle Verfahrensbeschreibungen</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-4"><a href="#" class="sortDescription">Dienstbezeichnung</a></th>
          <th class="col-md-2"><a href="#" class="sortResponsible">Verantwortlicher</a></th>
          <th class="col-md-2"><a href="#" class="sortEdited">Bearbeitet</a></th>
          <th class="col-md-2"><a href="#" class="sortApproved">Freigabe</a></th>
          <th class="col-md-2">Optionen</th>
        </tr>
      </thead>
      <tbody>

        {{#each proc_descs}}
          {{> ProcDescListSingle}}
        {{/each}}

      </tbody>
    </table>

    <h1>Freigebene Verfahrensbeschreibungen</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-4"><a href="#" class="sortDescriptionApproved">Dienstbezeichnung</a></th>
          <th class="col-md-2"><a href="#" class="sortResponsibleApproved">Verantwortlicher</a></th>
          <th class="col-md-2"><a href="#" class="sortEditedApproved">Bearbeitet</a></th>
          <th class="col-md-2"><a href="#" class="sortApprovedApproved">Freigabe</a></th>
          <th class="col-md-2">Optionen</th>
        </tr>
      </thead>
      <tbody>

        {{#each approved_proc_descs}}
          {{> ProcDescListSingle}}
        {{/each}}

      </tbody>
    </table>
  </div>
</template>

<template name="ProcDescListSingle">
  <tr>
    <td>
      {{#linkTo route='viewProcDescVersion'}}
        {{content.serviceShortTitle}}
      {{/linkTo}}
    </td>
    <td>{{content.sectionA.createdBy}}</td>
    <td>{{longDateFormatted modifiedAt}} Uhr</td>
    <td>
      {{#if content.approved}}
        {{longDateFormatted content.approvedAt}} Uhr&#160;<i class="fa fa-check"></i>
      {{else}}
        nicht freigegeben&#160;<i class="fa fa-ban"></i>
      {{/if}}
    </td>
    <td>
      {{#linkTo route='viewProcDescVersion'}}
        <i class="fa fa-file-text-o" title="Ansehen"></i>
      {{/linkTo}}&#160;
      {{#linkTo route='editProcDesc'}}
        <i class="fa fa-pencil" title="Editieren"></i>
      {{/linkTo}}&#160;
      <a href="#" class="pdf">
        <i class="fa fa-file-pdf-o" title="PDF herunterladen"></i>
      </a>&#160;
      <a href="#" class="xml">
        <i class="fa fa-file-code-o" title="XML herunterladen"></i>
      </a>&#160;
      {{#if isInRole 'datenschutzBeauftragter'}}
        <a href="#" class="delete">
          <i class="fa fa-trash-o" title="Löschen"></i>
        </a>
      {{/if}}
    </td>
  </tr>
</template>
