<template name="ProcDescList">
  <div class="proc-desc-list">
    <h1>Verfahrensbeschreibungen</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Dienstbezeichung</th>
          <th>Verantwortlicher</th>
          <th>Erstellt</th>
          <th>Freigabe</th>
          <th>Optionen</th>
        </tr>
      </thead>
      <tbody>

        {{#each proc_descs}}
        <tr>
          <td>
            {{#linkTo route='viewProcDesc'}}
              {{content.serviceShortTitle}}
            {{/linkTo}}
          </td>
          <td>{{content.sectionA.createdBy}}</td>
          <td>{{longDateFormatted content.sectionA.creationDate}} Uhr</td>
          <td>
            {{#if content.approved}}
              {{longDateFormatted content.approvedAt}} Uhr&#160;<i class="fa fa-thumbs-up"></i>
            {{/if}}
          </td>
          <td>
            {{#linkTo route='viewProcDesc'}}
              <i class="fa fa-file-text-o" title="Ansehen"></i>
            {{/linkTo}}&#160;
            {{#linkTo route='editProcDesc'}}
              <i class="fa fa-pencil" title="Editieren"></i>
            {{/linkTo}}&#160;
            <a href="#" class="pdf">
              <i class="fa fa-file-pdf-o" title="PDF herunterladen"></i>
            </a>&#160;
            <a href="#" class="xml">
              <i class="fa fa-file-code-o" title="XML herunterladen"></i>
            </a>&#160;
            <a href="#" class="delete">
              <i class="fa fa-trash-o" title="Löschen"></i>
            </a>
          </td>
        </tr>
        {{/each}}

      </tbody>
    </table>
  </div>
</template>
