/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
.main {
}

body { padding-top: 70px; padding-bottom: 70px;}

red {
  color: #FF0000;
}

.form-control {
  display: inline;
  width: 200px;
}

.form-group {
  display: inline;
}

.help-block {
  display: inline;
}
